torch==2.3.0
torchaudio
transformers
datasets
lightning
hydra-core
tensorboard
natsort
einops
librosa
rich
gradio
gradio-i18n
wandb
grpcio
kui
zibai-server
loguru
loralib
natsort
pyrootutils
vector_quantize_pytorch==1.14.24
samplerate==0.1.0
resampy
spaces
einx[torch]==0.2.2
opencc
faster-whisper
ormsgpack
ffmpeg
soundfile
cachetools
funasr
silero-vad
tiktoken
